.events-box {
	display: flex;
	justify-content: center;
}
.events-section {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2.5rem;
	max-width: 1200px;
	/* position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%); */
	/* margin: 1rem 10vw; */
	/* justify-items: center; */
}

.event__card {
	background-color: rgb(238, 238, 238);
	/* height: 350px; */
	/* width: 350px; */
	/* border: 1px solid black; */
	border-radius: 20px;
	/* box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 5px 5px 15px 5px rgba(0,0,0,0); */
	transition: all 200ms ease-in-out;
}

.event__card:hover {
	box-shadow: unset;
	transition: all 200ms ease-in-out;
}

.event__image-box {
	position: static;
	overflow: hidden;
	border-radius: 20px 20px 0 0;
	/* width: 100%; */
	height: 220px;

}

.event__image {
	position: static;
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.event__text {
	padding: 0.5rem;
}

.event__start-div {
	display: flex;
	justify-content: space-between;
	margin: 1rem 0 1rem 0;
}