.filter-section {
	display: grid;
	margin: 2rem;
	grid-template-rows: 1fr;
	gap: 46px;
}

.filter-section input, 
.filter-section select {
	font-size: 20px;
}

.filter__search {
	grid-column: 1/4;
	width: 100%;
	padding: 21px;
	background: #EEEEEE;
	border-radius: 20px;
}

.filter__search-input {
	width: 100%;
	padding: 15px;
	border-radius: 15px;
	border: none;
}

.filter__country {
	grid-column: 4/5;
	padding: 21px;
	background: #EEEEEE;
	border-radius: 20px;
}

.filter__country-select {
	width: 100%;
	padding: 15px;
	border-radius: 15px;
	border: none;
}

@media screen and (max-width: 800px) {
	.filter-section {
		display: block;
	}

	.filter__search {
		margin-bottom: 1rem;
	}
}